<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pearlinfotech">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan|adjustResize"
        tools:ignore="InnerclassSeparator">
        <activity android:name=".Schedule.Schedule"></activity>

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <activity android:name=".TimeTable.UploadTT" />
        <activity android:name=".Message.MessageRecieve" />
        <activity android:name=".Message.MessageSend" />
        <activity android:name=".Fees.student_fees" />
        <activity android:name=".Attendance.AttendanceExtra" />
        <activity android:name=".Attendance.AttendanceStudent" />
        <activity android:name=".Admin.FacultyList" />
        <activity android:name=".Admin.StudentList" />
        <activity android:name=".Admin.AddFaculty" />
        <activity android:name=".Admin.AddStudent" />
        <activity android:name=".Attendance.AttendanceFaculty" />
        <activity android:name=".Performances.Performance_faculty" />
        <activity android:name=".Dashbard.DashboardFaculty" />
        <activity android:name=".Dashbard.DashboardAdmin" />
        <activity android:name=".Login.ForgotPasssword" />
        <activity android:name=".HomeScreen.MainActivity" />
        <activity android:name=".Dashbard.DashBoardStudent" />
        <activity android:name=".Login.Login" />
        <activity android:name=".Fees.fees_admin" />
        <activity android:name=".Performances.Performance_student" />
        <activity android:name=".HomeScreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>