<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pearlinfotech">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="InnerclassSeparator">
        <activity android:name=".Admin.FacultyList"></activity>
        <activity android:name=".Admin.StudentList" />
        <activity android:name=".student_attendance_sheet" />
        <activity android:name=".Admin.AddFaculty" />
        <activity android:name=".Admin.AddStudent" />
        <activity android:name=".Attendance.AttendanceFaculty" />
        <activity android:name=".SaveUser" />
        <activity android:name=".Dashbard.DashboardFaculty" />
        <activity android:name=".Dashbard.DashboardAdmin" />
        <activity android:name=".Login.ForgotPasssword" />
        <activity android:name=".HomeScreen.MainActivity" />
        <activity android:name=".Dashbard.DashBoardStudent" />
        <activity android:name=".Login.Login" />
        <activity android:name=".HomeScreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>